body {
    margin: 0;
    font-family: Arial, serif;
    background-color: #000000;
}

.header {
    background:  #f60b0b;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0;
    width: 100%;
    
}

.header h1 {
    margin: 0;
    font-size: 36px;
}

.header p {
    margin: 5px 0 0;
    font-size: 16px;
}


.navbar {
    background-color: #000000b1;
    display: flex;
    justify-content: center;
}

.navbar a {
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    text-decoration: none;
}

.navbar a:hover,
.navbar a.active {
    background-color: #b93232;
}



.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    display: inline;
    margin: 0 20px;
}

.nav-links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

h2 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
    background-color: #ffffff;
}

p {
    color: #000000;
    line-height: 1.6;
    background-color: #ffffff;
    padding: 0 20px;
    margin: auto;
}

.lesson {
    background-color: white;
    width: 50%;
    margin: auto;
    padding: 50px;
    border-radius: 4px;
    margin-top: 20px;
}


.lesson h2 {
    margin-top: 20px;
}