* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #ffffff; 
    --text-color: white;
    --main-color: #f60b0b;
}

html {
    font-size: 62.5%; 
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    padding-top: 15rem; 
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 3rem 10%;
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 800;
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 700;
}

.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}


.lesson {
    background-color: var(--second-bg-color);
    color: #000000; 
    max-width: 900px;
    margin: 0 auto 4rem auto;
    padding: 6rem 3rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.lesson h2 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    color: #000;
}

.lesson p {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
}

.lesson p span {
    color: #000; 
    font-weight: 600;
}

.lesson a span {
    font-size: 1.8rem;
    color: #0044cc; 
    text-decoration: underline;
}


.footer-text {
    display: block;
    color: white;
    background: #000;
    padding: 2rem;
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
}