* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #080808;
    --second-bg-color: #1b0000;
    --text-color: white;
    --main-color: #f60b0b;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--main-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4rem 10% 4rem;
    background: black;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    width: 100%;
}
.logo{
  font-size: 3.5rem;
  color: var(--text-color);
  font-weight: 1000;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 2rem;
    color: var(--text-color);
    margin-left: 2rem;
    font-weight: 700;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
span{
    color: var(--main-color);
}
.logo span{
    color: var(--main-color);
}
.container {
    width: 80%;
    max-width: 800px;
    margin-top: 40px;
}
.card {
    background: var(--second-bg-color);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(209, 193, 193, 0.05);
}

h2 {
    margin-top: 0;
    color: #ffffff;
}

.skill-item {
    margin-bottom: 20px;
}

.skill-item p {
    margin-bottom: 8px;
    font-weight: bold;
}

.progress-bar {
    background-color: #eee;
    height: 25px;
    width: 100%;
}

.progress {
    background-color: var(--main-color); 
    height: 100%;
}

.soft-skills-list {
    list-style: disc;
    padding-left: 20px;
}

.soft-skills-list li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.stars {
    color: #f1c40f;
    margin-left: 10px;
}

header .skill-item  {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #66c2a5;
}

.hobbies-list {
    list-style: none;
    padding-left: 10px;
}

.hobbies-list p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    display: flex;
    text-align: center;
}

.hobby-icon {
    font-size: 1.4rem;
    margin-right: 15px;
    width: 25px;
    text-align: center;
}

.a2{
    color: rgb(255, 255, 255); 
    text-align: center;
    background-color: #000000;
    padding: 5px;
    width: 100%;
}
.bars {
   text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 5;
    max-width: 1000px;
}